.apropos {
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 80px 0;
    }

    .title {
        font-size: 48px;

        margin: 20px 0;
    }
    .role {
        background-image: url(/assets/images/color-square2.png);

        margin-bottom: 70px;
    }

    

    .apropos-gauche {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 60%;

        margin-right: 40px;

        .education h2 {
            font-size: 25px;

            margin: 30px 0 10px;
        }
        .description {
            font-family: var(--font-secondary);
            font-size: 20px;
        }
        span {
            font-weight: 700;
            font-size: 24px;
        }

        .education {
            width: 100%;

            margin-top: 70px;
        }

        .grid1 p, .grid2 p {
            font-family: var(--font-tertiary);

            width: calc(100% - 3px);

            background-color: rgb(77, 77, 77);

            margin: 0;
            padding-left: 10px;
            
            height: 60px;
            line-height: 60px;
            
        }
    }

    .grid1 {
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 3px;
        grid-row-gap: 3px;

        border: solid 3px white;
        border-radius: 5px;

        background-color: white;

        h1 {
            background-color: rgb(77, 77, 77);

            font-size: 32px;

            text-align: center;
            height: 60px;
            line-height: 60px;
        }
    }
    .grid2 {
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 1fr;
        grid-column-gap: 3px;
        grid-row-gap: 3px;

        border: solid 3px white;
        border-radius: 5px;

        background-color: white;

        h1 {
            background-color: rgb(77, 77, 77);

            font-size: 32px;

            text-align: center;
            height: 60px;
            line-height: 60px;
        }
    }

    .apropos-droite {
        h2 {
            font-size: 30px;
            text-align: center;

            margin-top: 30px;
        }
        p {
            font-family: var(--font-tertiary);
        }

        .outils {
            display: flex;
            justify-content: space-between;
            
            div {
                margin: 20px;

                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}