section {
    background: linear-gradient(
        90deg,
        rgba(52, 51, 51, 0.85) 0%,
        #343333 51.04%,
        rgba(52, 51, 51, 0.85) 100%
    );
}

.demo {
    height: calc(100vh - 75px);

    .wrapper {
        height: calc(100vh - 75px);

        //padding: 3% 0 5%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    a {
        margin-bottom: 30px;
        z-index: 1;
    }
}

.bouton {
    font-family: var(--font-tertiary);
    font-weight: 100;

    font-size: 36px;

    background: radial-gradient(
                circle at 100% 100%,
                #000000 0,
                #000000 5px,
                transparent 5px
            )
            0% 0%/9px 9px no-repeat,
        radial-gradient(
                circle at 0 100%,
                #000000 0,
                #000000 5px,
                transparent 5px
            )
            100% 0%/9px 9px no-repeat,
        radial-gradient(
                circle at 100% 0,
                #000000 0,
                #000000 5px,
                transparent 5px
            )
            0% 100%/9px 9px no-repeat,
        radial-gradient(circle at 0 0, #000000 0, #000000 5px, transparent 5px)
            100% 100%/9px 9px no-repeat,
        linear-gradient(#000000, #000000) 50% 50% / calc(100% - 8px)
            calc(100% - 18px) no-repeat,
        linear-gradient(#000000, #000000) 50% 50% / calc(100% - 18px)
            calc(100% - 8px) no-repeat,
        linear-gradient(90deg, #78e7ff 0%, #ffa959 100%);

    border-radius: 9px;
    padding: 15px 60px;
    box-sizing: border-box;
}

.role {
    display: flex;
    align-items: center;
    text-align: end;

    background-image: url(/assets/images/color-square.png);

    width: 317px;
    height: 83px;

    padding: 15px 32px 0;

    margin-top: 30px;

    z-index: 1;

    h1 {
        font-weight: 700;

        font-size: 68px;

        height: 55px;
        padding-left: 7px;
    }

    h2 {
        font-weight: 400;
        font-size: 28px;
    }
    div {
        z-index: 1;
    }
}

video {
    position: fixed;

    height: calc(100vh - 75px);

    z-index: 0;
}

.anim-rectangle {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: var(--color-primary);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.anim-rectangle:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
                circle at 100% 100%,
                #000000 0,
                #000000 5px,
                transparent 5px
            )
            0% 0%/9px 9px no-repeat,
        radial-gradient(
                circle at 0 100%,
                #000000 0,
                #000000 5px,
                transparent 5px
            )
            100% 0%/9px 9px no-repeat,
        radial-gradient(
                circle at 100% 0,
                #000000 0,
                #000000 5px,
                transparent 5px
            )
            0% 100%/9px 9px no-repeat,
        radial-gradient(circle at 0 0, #000000 0, #000000 5px, transparent 5px)
            100% 100%/9px 9px no-repeat,
        linear-gradient(#000000, #000000) 50% 50% / calc(100% - 8px)
            calc(100% - 18px) no-repeat,
        linear-gradient(#000000, #000000) 50% 50% / calc(100% - 18px)
            calc(100% - 8px) no-repeat,
        linear-gradient(90deg, #78e7ff 0%, #ffa959 100%);

    border-radius: 9px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.anim-rectangle:hover,
.anim-rectangle:focus,
.anim-rectangle:active {
    color: white;
}
.anim-rectangle:hover:before,
.anim-rectangle:focus:before,
.anim-rectangle:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.footer-demo {
    display: none;
}



@media screen and (max-width: 375px) { 
    video {
        position: static;

        max-width: 100vw;
        height: auto;
    }

    .demo {
        height: auto;

        .wrapper {
            height: auto;
        }

        .role {
            margin: 40px 0;
        }

        .bouton {
            margin: 40px 0 70px;

            font-size: 20px;
        }
    }
    .footer-demo {
        display: block;
    }
}
