footer {
    background-color: black;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;
    }

    .top-footer {
        width: 100%;

        display: flex;
    }

    .footer-gauche {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-family: var(--font-tertiary);
            font-weight: 400;

            width: 60%;
        }
        span {
            font-family: var(--font-tertiary);
            font-weight: 700;
        }
        a {
            font-family: var(--font-tertiary);
            font-weight: 400;
            text-align: center;

            width: 30%;

            margin-right: 20px;

            padding: 10px;
            border: solid 3px white;
            border-radius: 10px;
        }
    }

    .separateur {
        width: 3px;
        border-radius: 2px;
        margin: 30px;

        background-color: white;
    }

    .footer-droite {
        display: grid;
        grid-template-columns: 66% 33%;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;

        width: 40%;

        img {
            width: 28px;
            height: 28px;

            object-fit: contain;
        }
        a {
            display: flex;
            align-items: center;
        }
        p {
            padding-left: 10px;
        }
    }

    h2 {
        font-size: 24px;
        position: absolute;
        left: 0;
        bottom: 5px;

        font-family: var(--font-tertiary);
        font-weight: 400;
    }
}
