footer {
    background-color: black;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;
    }

    .top-footer {
        width: 100%;

        display: flex;
    }

    .footer-gauche {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-family: var(--font-tertiary);
            font-weight: 400;

            width: 60%;
        }
        span {
            font-family: var(--font-tertiary);
            font-weight: 700;
        }
        a {
            font-family: var(--font-tertiary);
            font-weight: 400;
            text-align: center;

            width: 30%;

            margin-right: 20px;

            padding: 10px;
            border: solid 3px white;
            border-radius: 10px;
        }
    }

    .separateur {
        width: 3px;
        border-radius: 2px;
        margin: 30px;

        background-color: white;
    }

    .footer-droite {
        display: grid;
        grid-template-columns: 66% 33%;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;

        width: 40%;

        img {
            width: 28px;
            height: 28px;

            object-fit: contain;
        }
        a {
            display: flex;
            align-items: center;

            transition: all 0.2s ease-out;
        }
        p {
            padding-left: 10px;
        }
    }

    h2 {
        font-size: 24px;
        position: absolute;
        left: 0;
        bottom: 5px;

        font-family: var(--font-tertiary);
        font-weight: 400;
    }
}

.bouton-cv {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: var(--color-primary);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.bouton-cv:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    border-radius: 9px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.bouton-cv:hover,
.bouton-cv:focus,
.bouton-cv:active {
    color: white;
}
.bouton-cv:hover:before,
.bouton-cv:focus:before,
.bouton-cv:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}


@media screen and (max-width: 1540px) {
    .footer-droite p {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .top-footer {
        flex-direction: column;

        height: 275px;

        .footer-gauche {
            justify-content: center;

            p {
                display: none;
            }
            a {
                width: 70%;

                margin: 15px 0;
            }
        }
        .separateur {
            display: none;
        }
        .footer-droite {
            width: 100%;

            a {
                p {
                    font-size: 12px;
                }
            }
        }
    }

    footer {
        h2 {
            width: 100%;
            text-align: center;

            font-size: 15px;
        }
    }
}