.projets {
    .wrapper {
        padding: 130px 0 100px;
    }

    .projet-container {
        background-color: rgba(black, 0.4);

        display: flex;
        align-items: center;
        flex-direction: column;

        padding: 20px 40px;
        border-radius: 30px;

        h1 {
            font-size: 40px;
            text-align: center;
        }
        h2 {
            font-size: 32px;
            text-align: center;

            margin-top: 10px;
        }
        p {
            font-family: var(--font-tertiary);
            font-weight: 400;
        }
    }

    .thumbnail {
        width: 50%;
    }

    .projet1 {
        background: url('/assets/images/hero-projet1.jpg');

        background-position: center;
        background-size: cover;
    }
    .gros-projet1:hover {
        .projet1 {
            background: url('/assets/images/hero-projet1.gif');

            background-position: center;
            background-size: cover;
        }
    }

    .projet2 {
        background: url('/assets/images/hero-projet2.jpg');

        background-position: center;
        background-size: cover;
    }
    .gros-projet2:hover {
        .projet2 {
            background: url('/assets/images/hero-projet2.gif');

            background-position: center;
            background-size: cover;
        }
    }

    .projet3 {
        background: url('/assets/images/hero-projet3.jpg');

        background-position: center;
        background-size: cover;
    }
    .gros-projet3:hover {
        .projet3 {
            background: url('/assets/images/hero-projet3.gif');

            background-position: center;
            background-size: cover;
        }
    }

    .projet4 {
        background: url('/assets/images/hero-projet4.jpg');

        background-position: center;
        background-size: cover;
    }
    .gros-projet4:hover {
        .projet4 {
            background: url('/assets/images/hero-projet4.gif');

            background-position: center;
            background-size: cover;
        }
    }

    .projet5 {
        background: url('/assets/images/hero-projet5.jpg');

        background-position: center;
        background-size: cover;
    }
    .gros-projet5:hover {
        .projet5 {
            background: url('/assets/images/hero-projet5.gif');

            background-position: center;
            background-size: cover;
        }
    }

    .projet-gauche,
    .projet-droite {
        display: flex;

        background-color: #00779c;

        margin: 20px 0;

        position: relative;

        width: 100%;
        height: 400px;
    }

    .projet-gauche .logiciel,
    .projet-droite .logiciel {
        position: absolute;

        bottom: 0;

        width: 121px;
        height: 97px;

        background-color: rgba(black, 0.3);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projet-gauche .logiciel {
        right: 0;

        border-top-left-radius: 20px;
    }
    .projet-droite .logiciel {
        left: 0;

        border-top-right-radius: 20px;
    }

    .projet-texte {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        padding: 30px;

        width: 50%;
    }
}

@media screen and (max-width: 375px) {
    .projets {
        .projet-container {
            padding: 0px 20px;

            border-radius: 15px;
        }
    }

    .projet-container {
        .projet-gauche,
        .projet-droite {
            flex-direction: column;
            align-items: center;

            height: 319px;

            .projet-texte {
                width: 100%;
                height: 50%;

                padding: 15px;
            }
        
            .thumbnail {
                width: 100%;
                height: 50%;
            }

            h1 {
                font-size: 13px;
            }
            h2 {
                font-size: 11px;
            }
            p {
                font-size: 8px;
            }

            .bouton {
                font-size: 13px;

                padding: 10px 30px;
            }
        }

        .projet-gauche {
            .logiciel {
                width: 70px;
                height: 60px;

                border-top-left-radius:  10px;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .projet-droite {
            .logiciel {
                width: 70px;
                height: 60px;

                border-top-right-radius:  0px;
                border-top-left-radius:  10px;

                left: auto;
                right: 0;

                img {
                    width: 50px;
                    height: 40px;
                }
            }

            .thumbnail {
                order: 1;
            }
            .projet-texte {
                order: 2;
            }
        }
    }



}
