.projets {
    .wrapper {
        padding: 100px 0;
    }

    .projet-container {
        background-color: rgba(black, 0.4);

        display: flex;
        align-items: center;
        flex-direction: column;

        padding: 20px 40px;
        border-radius: 30px;

        h1 {
            font-size: 40px;
            text-align: center;
        }
        h2 {
            font-size: 32px;
            text-align: center;

            margin-top: 10px;
        }
        p {
            font-family: var(--font-tertiary);
            font-weight: 400;
        }
    }

    .thumbnail {
        width: 50%;
    }

    .projet-gauche,
    .projet-droite {
        display: flex;

        background-color: #00779c;

        margin: 20px 0;

        position: relative;

        width: 100%;
    }

    .projet-gauche .logiciel,
    .projet-droite .logiciel {
        position: absolute;

        bottom: 0;

        width: 121px;
        height: 97px;

        background-color: rgba(black, 0.3);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projet-gauche .logiciel {
        right: 0;

        border-top-left-radius: 20px;
    }
    .projet-droite .logiciel {
        left: 0;

        border-top-right-radius: 20px;
    }

    .projet-texte {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        padding: 30px;

        .bouton {
            background: radial-gradient(
                        circle at 100% 100%,
                        #00779c 0,
                        #00779c 3px,
                        transparent 3px
                    )
                    0% 0%/8px 8px no-repeat,
                radial-gradient(
                        circle at 0 100%,
                        #00779c 0,
                        #00779c 3px,
                        transparent 3px
                    )
                    100% 0%/8px 8px no-repeat,
                radial-gradient(
                        circle at 100% 0,
                        #00779c 0,
                        #00779c 3px,
                        transparent 3px
                    )
                    0% 100%/8px 8px no-repeat,
                radial-gradient(
                        circle at 0 0,
                        #00779c 0,
                        #00779c 3px,
                        transparent 3px
                    )
                    100% 100%/8px 8px no-repeat,
                linear-gradient(#00779c, #00779c) 50% 50% / calc(100% - 10px)
                    calc(100% - 16px) no-repeat,
                linear-gradient(#00779c, #00779c) 50% 50% / calc(100% - 16px)
                    calc(100% - 10px) no-repeat,
                linear-gradient(90deg, #78e7ff 0%, #ffa959 100%);
        }
    }
}
