/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-md;
    width: 1482px;
    max-width: 90%;
    margin: 0 auto;
}
